body {
    background-color: #35654d;
    background-size: cover;
}

.flex-container {
    display: flex;
    justify-content: center;
}

#playHeader {
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    color: #DAA520;
    height: 70px;
    width: 60%;
    margin: 0;
    float: left;
  }

  header{
    background: #00006b;
  }

header::after{
  content: '';
  display: table;
  clear: both;
}
  nav{
    float: right;
  }

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
}

nav a{
  color: #DAA520;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover{
  color: #FFDF00;
}

body {font-family: Arial, Helvetica, sans-serif;}