body {
  background-color: #35654d;
  background-size: cover;
}

div {
  text-decoration-color: black;
}
h1 {
  width: 50%;
}
h2{
  color: #DAA520;
}
h3{
  color: #DAA520;
}
p{
  color: #DAA520;
}

.flex-container{
  display: flex;
  justify-content: center;
}

#indexHeader {
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    color: #DAA520;
    height: 45px;
    padding: 10px 0;
    margin: 0;
    float: left;
  }

  .container {
    width: 60%;
    height: 70px;
    margin: 0 auto;
  }


  header{
    background: #00006b;
  }

header::after{
  content: '';
  display: table;
  clear: both;
}
  nav{
    float: right;
  }

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
}

nav a{
  color: #DAA520;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover{
  color: #FFDF00;
}

#Title {
  font-family: "cursive",sans-serif;
}

#mainDiv {
  width: 10%;
}



#gameOptions {
  position: relative;
  left:100px;
  top: 400px;
}
