body {
  background-image: url("https://cei.org/sites/default/files/bigstock-Poker-Background-62159249.jpg");
  background-size: cover;
}

div {
  text-decoration-color: black;
}
h1 {
  width: 50%;
}

.flex-container{
  display: flex;
  justify-content: center;
}

#Title {
  font-family: "cursive",sans-serif;
}

#mainDiv {
  width: 10%;
}

#PlayButton {
  text-align: center;
  padding: 20px 30px;
  position: absolute;
  top: 50%;
  left: 40%;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#aboutBox {
  border-style: solid;
  background-color: green;
  background-size: auto;
  width: 350px;
  
  top: 80%;
  right: 30%;
  position: absolute;
}

#gameOptions {
  position: relative;
  left:100px;
  top: 400px;
}

